@{
    ViewData["Title"] = "ログインページ";
}

<div class="text-center">
    <h3>社内管理システム</h3>
    <table class="mx-auto">
        <tr>
            <td colspan="2">User Id</td>
            <td colspan="1">
                @Html.TextBox("UserId","",new { maxlength = 8 })
            </td>  
        </tr>
        <tr>
            <td colspan="2">Password</td>
            <td colspan="1">
                @Html.Password("Password","",new { maxlength = 8 }) 
            </td>
        </tr>
        <tr>
            <td colspan="3"><a value="GO" class="btn btn-primary" asp-controller="Home" asp-action="Menu">Login</a></td>
        </tr>
    </table>
</div>
